<style>
  .weeks span:hover {
    background-color: #75c51f;
    border-radius: 100%;
    /* color: white */
  }

  .row button:hover {
    background-color: #75c51f;
    border-radius: 100%;
    color: white
  }

  .advancedorder {
    text-align: center;
  }

  .advorderdetails {
    width: 100px;
  }
</style>

<!-- Calendar for both Customer and Business User -->
<div class="calendar">
  <div class="calendar-navs">
    <div class="month-nav" style="text-align: center">
      <div class="row" style="width:100%;margin:0px !important;padding:0px !important">
        <div class="col-md-3">
          <button style="width:100%;margin: 0px" (click)="prevMonth()">
            <</button> </div> <div class="col-md-6">
              <span class="p4" style="width:100%;margin-top: 10px;
          display: inline-block;">{{ currentDate.format('MMMM') }}
                {{ currentDate.format('YYYY') }}</span>
        </div>
        <div class="col-md-3">
          <button style="width:100%;margin: 0;" (click)="nextMonth()">></button>
        </div>
      </div>
    </div>
  </div>
  <div class="month-grid">
    <div class="day-names">
      <div *ngFor="let name of dayNames" class="day-name p9">
        {{ name }}
      </div>
    </div>
    <div class="weeks">
      <div *ngFor="let week of weeks;let index of index" class="week">
        <ng-container *ngFor="let day of week">
          <div class="week-date disabled" *ngIf="!isSelectedMonth(day.mDate)">
            <span class="date-text">{{ day.mDate.date() }}</span>
          </div>
          <div class="week-date enabled" *ngIf="isSelectedMonth(day.mDate)" (click)="selectDate(day)"
            [ngClass]="{ today: day.today, selected: day.selected, delivered : day.delivered , notdelivered : day.notdelivered ,nextday_Adv_ord: day.nextday_Adv_ord}">
            <span class="date-text" style="color: grey;" *ngIf="!day.isAllowed">{{ day.mDate.date() }}</span>
            <span class="date-text" *ngIf="day.isAllowed" (click)="openmodal(day)" id="mdateshow"
              style="cursor:pointer;">{{ day.mDate.date() }}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<!-- Add delivery Status for Business User -->
<div id="viewstatus" class="modal fade" role="dialog">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: #75c51f"> Delivery Status {{datefordeleivery}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="custom-control custom-radio">
            <input type="radio" style="cursor:pointer;" class="custom-control-input" id="defaultUnchecked"
              name="defaultExampleRadios" value="DELIVERED" [(ngModel)]="choosedeliverystatus">
            <label class="custom-control-label" for="defaultUnchecked">Delivered</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" style="cursor:pointer;" class="custom-control-input" id="defaultChecked"
              name="defaultExampleRadios" checked value="dsww" value="NOTDELIVERED" [(ngModel)]="choosedeliverystatus">
            <label class="custom-control-label" for="defaultChecked">Not Delivered</label>
          </div>
          <br>
          <label (click)="viewadvanccustomeredorder()">Total advancedorder</label>
        </div>
        <!-- button -->
        <div slot="modal-footer" style="text-align: right;cursor:pointer">
          <button type="button" (click)="adddeliverystat()" class="btn btn-success"
            style="height:43px;background-color: #75c51f;;border:none">
            <b>Save</b>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Business User Show delivery Satatus -->

<div id="B_U_viewstatus" class="modal fade" role="dialog">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: #75c51f"> Delivery Status {{datefordeleivery}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 *ngIf="DeliveryStatusArray && DeliveryStatusArray[0]" style="color: #41db5a"> Status:
          {{DeliveryStatusArray[0].Status}}</h3>
        <br><br>
        <div class="row">
          <div class="col-md-4">
            <label (click)="showdelivery(true)">Do you want Update Data?</label>
          </div>
          <div class="form-group" *ngIf="showdeliveryforadd" class="col-md-8">
            <div class="custom-control custom-radio">
              <input type="radio" style="cursor:pointer;" class="custom-control-input" id="defaultUnchecked"
                name="defaultExampleRadios" value="DELIVERED" [(ngModel)]="choosedeliverystatus">
              <label class="custom-control-label" for="defaultUnchecked">Delivered</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" style="cursor:pointer;" class="custom-control-input" id="defaultChecked"
                name="defaultExampleRadios" checked value="dsww" value="NOTDELIVERED"
                [(ngModel)]="choosedeliverystatus">
              <label class="custom-control-label" for="defaultChecked">Not Delivered</label>
            </div>
            <br>
            <label (click)="viewadvanccustomeredorder()">Total advancedorder</label>
          </div>
        </div>
        <!-- button -->
        <div slot="modal-footer" style="text-align: right;cursor:pointer">
          <button type="button" (click)="update_Busi_deliverystatus()" class="btn btn-success"
            style="height:43px;background-color: #75c51f;;border:none">
            <b>Update</b>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Customer User Show Exact Status after submit feedback -->
<div id="Cus_U_viewExactstatus" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Your Feedback: {{today| date:'dd-MM-yyyy'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <h4 style="text-align: center; color: black" *ngIf="Getbusideliverysta && Getbusideliverysta[0]"> Your Status:
            {{Getbusideliverysta[0].Status}}</h4>
          <br>
          <div class="col-md-7">
            <h4>Do you want Update Status?</h4>
          </div>
          <div class="col-md-5">
            <div class="custom-control custom-radio">
              <input type="radio" (click)="showBox(false)" style="cursor:pointer;" class="custom-control-input"
                id="defaultUnchecked1" [checked]='true' name="RECIEVEDINTIME" value="RECIEVEDINTIME"
                [(ngModel)]="chooseValue" checked="getradio()">
              <label class="custom-control-label" for="defaultUnchecked1">Recieved in time</label>
            </div>

            <div class="custom-control custom-radio">
              <input type="radio" (click)="showBox(false)" style="cursor:pointer;" class="custom-control-input"
                id="defaultUnchecked2" name="Recieved But Delayed" value="RECIEVEDBUTDELAYD" [(ngModel)]="chooseValue"
                checked="getradio()">
              <label class="custom-control-label" for="defaultUnchecked2">Recieved but delayed</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" (click)="showBox(false)" style="cursor:pointer;" class="custom-control-input"
                id="defaultUnchecked3" name="Not Recieved" value="NOTRECIEVED" [(ngModel)]="chooseValue"
                checked="getradio()">
              <label class="custom-control-label" for="defaultUnchecked3">Not recieved</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" (click)="showBox(true)" style="cursor:pointer;" class="custom-control-input"
                id="defaultchecked" name="Make a Complaint" value="COMPLAINT" [(ngModel)]="chooseValue"
                checked="getradio()">
              <label class="custom-control-label" for="defaultchecked">Complaint</label>
            </div>
            <div class="form-group" *ngIf="complainHide">
              <textarea class="form-control" id="texcomplain" [(ngModel)]="complainMessage" rows="3"
                placeholder="Write your complaint here...."></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" name="saveexatstatus" (click)="Update_Cus_feedback()" class="btn btn-primary"
          style="background-color:#75c51f;border:none;cursor:pointer">Update</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          style="background-color:red;border:none;cursor:pointer">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Get business Staut for Customer User Curren date -->
<div id="Getbusidelstaforcus" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delivery Status: {{today| date:'dd-MM-yyyy'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <h3 style="color: green;"> No any information available
          </h3>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          style="background-color:green;border:none;cursor:pointer">OK</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          style="background-color:red;border:none;cursor:pointer">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Business user not deleiverd for customer -->
<div id="busiUsernotdelforcus" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delivery Status: {{today| date:'dd-MM-yyyy'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <h3 style="color: green;" *ngIf="Getbusideliverysta && !Getbusideliverysta[0]"> Not Delivered </h3>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          style="background-color:green;border:none;cursor:pointer">OK</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          style="background-color:red;border:none;cursor:pointer">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Eexact status for Customer User -->
<div id="exactstatus" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Give your Feedback: {{today| date:'dd-MM-yyyy'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="custom-control custom-radio">
          <input type="radio" (click)="showBox(false)" style="cursor:pointer;" class="custom-control-input"
            id="defaultUnchecked1" [checked]='true' name="RECIEVEDINTIME" value="RECIEVEDINTIME"
            [(ngModel)]="chooseValue" checked="getradio()">
          <label class="custom-control-label" for="defaultUnchecked1">Recieved in time</label>
        </div>

        <div class="custom-control custom-radio">
          <input type="radio" (click)="showBox(false)" style="cursor:pointer;" class="custom-control-input"
            id="defaultUnchecked2" name="Recieved But Delayed" value="RECIEVEDBUTDELAYD" [(ngModel)]="chooseValue"
            checked="getradio()">
          <label class="custom-control-label" for="defaultUnchecked2">Recieved but delayed</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" (click)="showBox(false)" style="cursor:pointer;" class="custom-control-input"
            id="defaultUnchecked3" name="Not Recieved" value="NOTRECIEVED" [(ngModel)]="chooseValue"
            checked="getradio()">
          <label class="custom-control-label" for="defaultUnchecked3">Not recieved</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" (click)="showBox(true)" style="cursor:pointer;" class="custom-control-input"
            id="defaultchecked" name="Make a Complaint" value="COMPLAINT" [(ngModel)]="chooseValue"
            checked="getradio()">
          <label class="custom-control-label" for="defaultchecked">Complaint</label>
        </div>
        <div class="form-group" *ngIf="complainHide">
          <textarea class="form-control" id="texcomplain" [(ngModel)]="complainMessage" rows="3"
            placeholder="Write your complaint here...."></textarea>
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" name="saveexatstatus" (click)="exactstaus()" class="btn btn-primary"
          style="background-color:#75c51f;border:none;cursor:pointer">Save</button>

        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          style="background-color:red;border:none;cursor:pointer">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Add advanced order for Customer User -->
<div id="advancedorder" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Advanced Order {{datefordeleivery}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br>
        <div class="row">
          <div class="custom-control custom-radio">
            <input type="radio" (click)="showBox1(true)" style="cursor:pointer;" class="custom-control-input"
              id="defaultcheck" name="radiogroup1" value="Extra" [(ngModel)]="ExtraMilk">
            <label class="custom-control-label" for="defaultcheck">Extra</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" (click)="showBox1(false)" style="cursor:pointer;" class="custom-control-input"
              id="defaultcheck2" name="radiogroup1" value="NOMILK" [(ngModel)]="ExtraMilk">
            <label class="custom-control-label" for="defaultcheck2">No Milk</label>
          </div>
        </div>

        <div class="form-group" *ngIf="displayadvancebox">
          <div class="row">
            <div class="custom-control custom-radio">
              <input type="radio" (click)="showBox2(false)" style="cursor:pointer;" class="custom-control-input"
                id="defaultchecked1" name="radiogroup" value="ONEDAY" [(ngModel)]="selectday">
              <label class="custom-control-label" for="defaultchecked1">One day </label>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" (click)="showBox2(true)" style="cursor:pointer;" class="custom-control-input"
                id="defaultchecked2" name="radiogroup" value="MOREDAY" [(ngModel)]="selectday">
              <label class="custom-control-label" for="defaultchecked2">More than one day</label>
            </div>
          </div>
          <div class="form-group" *ngIf="morethanoneday">
            <div class="row">
              <div class="col-md-12">
                From Date:- {{datefordeleivery}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; To Date:-
                <input type="date" values="advancedordercalendar" [min]="mindateforupadte"
                  [(ngModel)]="advancedordercalendar" />
              </div>
            </div>
          </div>
          <br>
          <div style="font-size: 15px">
            Quantity
            <select [(ngModel)]="qualityOption">
              <option *ngFor="let quantity of quantitys" id="Quantity" value={{quantity.qua}}>
                {{quantity.qua}}
              </option>
            </select>&nbsp; Ltr
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" name="saveadvancedorder" (click)="addcusadvancedorder()" class="btn btn-primary"
          style="background-color:#75c51f;border:none;cursor:pointer">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          style="background-color:red;border:none;cursor:pointer">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Delivery Status for Business User-->
<div id="DeliveryStatus" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delivery status: {{datefordeleivery}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="margin-left: 8px;font-size: 15px">
          <b *ngIf="DeliveryStatusArray && DeliveryStatusArray[0]"> Status: {{DeliveryStatusArray[0].Status}}</b>
          <p *ngIf="(DeliveryStatusArray && !DeliveryStatusArray[0])">There are no information available on this date
          </p>
          <br />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          style="background-color: #75c51f;border:none;cursor:pointer">Ok</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          style="background-color:red;border:none;cursor:pointer">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- Show Advanced Order for Business User -->
<div id="advanccustomeredorder" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 900px; margin-left: -140px;">
      <div class="modal-header">
        <h5 class="modal-title">Advanced Order {{datefordeleivery}}</h5>
      </div>
      <div class="modal-body">

        <table class="advancedorder" *ngIf="viewadAllvanccustomeredorder && viewadAllvanccustomeredorder.length > 0">          
          <tr>
            <th class="advorderdetails">Name</th>
            <th class="advorderdetails">Address</th>
            <th class="advorderdetails">Quantity</th>
            <th class="advorderdetails">Query</th>
          </tr>
          <tr *ngFor="let data of viewadAllvanccustomeredorder">
            <td>{{data.User_Id.name}}</td>
            <td>{{data.User_Id.location}}</td>
            <td>{{data.Quantity}}</td>
            <td>{{data.ExtraRequire}}</td>
          </tr>
        </table>        
        <h3 *ngIf="!viewadAllvanccustomeredorder[0]" style="padding: 20px"> No Advanced Order</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          style="background-color: #75c51f;border:none;cursor:pointer">Ok</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          style="background-color:red;border:none;cursor:pointer">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- For Business User Get advanced order -->
<div id="getadva_dorder" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 900px; margin-left: -140px;">
      <div class="modal-header">
        <h5 class="modal-title">Your Advanced Order {{datefordeleivery}}</h5>
      </div>
      <div class="modal-body">
        <h5 *ngIf="getadvanced_Or && getadvanced_Or[0]">
          <table>
            <tr>
              <td style="width: 150px">ExtraRequire</td>
              <td>{{getadvanced_Or[0].ExtraRequire}}</td>
            </tr><br>
            <tr>
              <td> Quantity:</td>
              <td>{{getadvanced_Or[0].Quantity}}</td>
            </tr>
          </table>
        </h5>
        <br><br>
        <label (click)="openModalUpdate()">Do you want Update values</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          style="background-color: #75c51f;border:none;cursor:pointer">Ok</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          style="background-color:red;border:none;cursor:pointer">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Update Advanced order -->

<div id="Updateadvancedorder" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Advanced Order {{datefordeleivery}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br>
        <div class="row">
          <div class="custom-control custom-radio">
            <input type="radio" (click)="showBoxforUpdate(true)" style="cursor:pointer;" class="custom-control-input"
              id="defaultcheckU" name="Updateradiogroup1" value="Extra" [(ngModel)]="ExtraMilk">
            <label class="custom-control-label" for="defaultcheckU">Extra</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" (click)="showBoxforUpdate(true)" style="cursor:pointer;" class="custom-control-input"
              id="defaultcheck2U" name="Updateradiogroup1" value="NOMILK" [(ngModel)]="ExtraMilk">
            <label class="custom-control-label" for="defaultcheck2U">No Milk</label>
          </div>
        </div>

        <div class="form-group" *ngIf="UpdateBoxopen">
          <div class="row">
            <div class="custom-control custom-radio">
              <input type="radio" (click)="showBox2(false)" style="cursor:pointer;" class="custom-control-input"
                id="defaultchecked1U" name="Uradiogroup" value="ONEDAY" [(ngModel)]="selectday">
              <label class="custom-control-label" for="defaultchecked1U">One day </label>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" (click)="showBox2(true)" style="cursor:pointer;" class="custom-control-input"
                id="defaultchecked2U" name="Uradiogroup" value="MOREDAY" [(ngModel)]="selectday">
              <label class="custom-control-label" for="defaultchecked2U">More than one day</label>
            </div>
          </div>
          <div class="form-group" *ngIf="morethanoneday">
            <div class="row">
              <div class="col-md-12">
                From Date:- {{datefordeleivery}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; To Date:-
                <input type="date" values="advancedordercalendar" [min]="mindateforupadte"
                  [(ngModel)]="advancedordercalendar" />
              </div>
            </div>
          </div>
          <br>
          <div style="font-size: 15px">
            Quantity
            <select [(ngModel)]="qualityOption">
              <option *ngFor="let quantity of quantitys" id="Quantity" value={{quantity.qua}}>
                {{quantity.qua}}
              </option>
            </select>&nbsp; Ltr
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" name="Updateadvancedorder" (click)="Updatecusadvancedorder()" class="btn btn-primary"
          style="background-color:#75c51f;border:none;cursor:pointer">Update</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          style="background-color:red;border:none;cursor:pointer">Close</button>
      </div>
    </div>
  </div>
</div>