<style>
  .loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #1e1f1f;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 48%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 0.8s linear infinite;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .errors-message {
    color:red;
  }
</style>


<h2  style="position:relative;color:white;">Users</h2>
<div class="row" >

  <div class="col-md-8"></div>
  <div class="col-md-2" style="position:relative;top:30px;display:none; ">
    <div class="dropdown">
      <button class="form-control" data-toggle="dropdown" style="width: 86%;height:42px;">
        <b>
          OPTIONS
        </b>
      </button>
      <ul class="dropdown-menu">
       
        <!--<li><a style="cursor:pointer;" (click)="generateCSV()">CSV1</a></li>-->
      </ul>
    </div>
  </div>
  <div class="col-md-2" style="position:relative;top:30px;display:none; ">
      
  </div>


</div>
<!--<div class="row"  *ngIf="!getData" style="position:relative;left:50%;display:none;">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>

</div>-->
<div class="row" *ngIf="!getUsers"  style="position:relative;left:50%;top: 40px;">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>

</div>
<table *ngIf="getUsers"  id="table_id" class="table table-striped display mt-2 " >
  <thead>
    <tr>
      <th>ROLE</th>
      <th>EMAIL </th>
      <th>MOBILE NO</th>
      <th>Registration date</th>
      <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr style="cursor:pointer;" *ngFor="let user of allUsers">
      <td style="text-transform:capitalize;">{{user.role}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.created_at | date}}</td>
      <td>
        <span>
          <i class="far fa-edit mr-1" title="Edit" (click)="openModelforEdituser(user)" style="font-size:18px;cursor:pointer;color:#377bc1;"></i>
          <i class="fas fa-trash-alt ml- 1" title="Delete" (click)="openModalDeleteUser(user)" style="font-size:18px;cursor:pointer;color:#a4303b;"></i>
        </span>
      </td>
    </tr>
  </tbody>
</table>



<div id="editUser" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5  style="text-align:center;width:100%">Edit User Details</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body errors-message">

        <div class="row">
          <input type="text" class="form-control" placeholder="EmailId" (ngModelChange)=emailValiadtion(emailId) [ngStyle]="{ color: emailColor}" name="EmailId" [(ngModel)]="emailId" style="border-radius:0px;width: 100%;margin-bottom: 16px;" />
          <p style="color: red ! important;">{{emailerror}}</p>
        </div>
        <div class="row">
          <input type="text" class="form-control" placeholder="Phone Number" name="mobileNo" [(ngModel)]="mobileNo" (ngModelChange)=mobileNumberCheck(mobileNo) maxlength="10" [ngStyle]="{ color: mobileColor}" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" style="border-radius:0px;width: 100%;" />
          <p style="color: red ! important;">{{mobileerror}}</p>
        </div>

        <div class="row">
          <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Password" name="password" [(ngModel)]="password" (ngModelChange)=passwordCheck(password) style="border-radius:0px;width: 100%;" />
            <p style="color: red ! important;">{{passworderror}}</p>
          </div>
        </div>
        <div slot="modal-footer" style="width:100%">
          <div class="row" style="margin-top:15px">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
              <button type="button" class="form-control" (click)="hideModal()" class="btn1-def1">
                Cancel
              </button>
              <button type="button" (click)="updateUserDetails()" class="btn1-def1" style="color: #fff;display:unset;background-color: #1d293b;border-color: #1d293b;">
                <b>Update</b>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="deleteUser" class="modal fade" role="dialog">
  <div class="modal-dialog ">
    <div class="modal-content">

      <div class="modal-body">
        <p>Are you sure you want to delete this User</p>
        <div slot="modal-footer">
          <button type="button" (click)="deleteUser()" class="btn btn-danger" style="height: 43px;">
            <b>Delete</b>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


