<style>
  .libutton a,
  button {
    box-shadow: none !important;
    background-color: white;
    border: none;
    padding: 10px;
    text-transform: capitalize;
  }


  .loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #1e1f1f;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 48%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 0.8s linear infinite;
  }

  .forcolor {
    margin-top: 8px;
    background-color: red;
    border: none;

  }

  .card-link {
    color: red;

  }
  .card-padding
  {
    padding-bottom:20px;
  }
  .loader {
  border: 8px solid #f3f3f3;
  border-radius: 40%;
  border-top: 16px solid #3498db;
  width: 40px;
  height: 40px;
  top: 140px;
  /* -webkit-animation: spin 2s linear infinite; /* Safari */
  /* animation: spin 2s linear infinite;  */
}
  


  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
</style>


<h2 style="position:relative;color:white;"></h2>
<div class="row" style="position:relative;top:28px;justify-content: flex-end; ">
  <div>
    <a href="#" style="float:right; margin-right: 20px" class="btn btn-primary forcolor">Add Customers</a>
  </div>
</div>
<div class="row" *ngIf="showloader">
    <div class="spinner-border" style="margin-top:140px;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
</div>

<div class="row" *ngIf="!showloader">
    <div class="col-md-6 card-padding" *ngFor="let user of allUsers"  >
  <div class="card" >
    
      <div class="card-body">
        <h5 class="card-title">{{user.location}}</h5>
          <h6 class="card-text">{{user.location}}</h6>
          <h6 class="card-text">{{user.flat_no}}</h6>
          <h6 class="card-text">{{user.landmark}}</h6>
          <h6 class="card-text">{{user.city}}</h6>
          <h6 class="card-text">Mobile No:{{user.phone}}</h6>
          <!-- <h6 class="card-text">{{}}</h6> -->

      </div>
      <hr>
      <div>
        <a href="#" class="card-link" style="padding-left:20px">Edit</a>
        <a href="#" class="card-link" style=padding-left:390px>Delete</a>

      </div>

    </div>
  </div>
</div>

<!-- <div>
      <a href="#" class="btn btn-primary forcolor" >Proceed To Shipment</a>
     </div>   -->