<style>
  .selectRole {
    background: #4ab1d2;
  }
  .modal-width{
    position: absolute;
    /*margin: auto;*/
    top: 0;
    bottom: 0;
    /*background: rgba(0,0,0,0.5);*/
    left: 0;
    right: 0;
    /*z-index: 999;*/
  }
  .inner-modal {
    /*background: #fff;*/
    width: 80%;
    margin: 0 auto;
    position: absolute;
    /*margin: auto;*/
    left: 0;
    right: 0;
    height: 140px;
    top: 0;
    bottom: 0;
    /*z-index: 999;*/
    
  }
  </style>

<div class="main-account-page">
<div class="">

<div class="account-signin-form clearfix" style="margin-top: -60px;">

<div class="account-form-l account-signin-left" style="position:relative;height: 627px;">
    <form class="form-signin" style="position:relative;top:65px;">
        <!--<img class="mb-4" src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
        <h1>Create your account</h1>
        
        <div class="signin-form-desc">
        <p>Lorem ipsum dolor sit amet, consectetuer</p>
        </div>
        
        <div class="form-sigin-details">
          <div class=" clearfix" *ngIf="roleSelect =='step1'">
            <div >
              <div class="row pb-4 ">
                <div class="col-6">
                  <div class="card bg-dark text-white" style="text-align: left;">
                    <div id="busibess" class="card-body" style="cursor:pointer;border: 1px solid white;text-align:center;" (click)="SelctRole('BUSINESS')">
                      <p class="card-text">Business</p>
                    </div>
                  </div>

                </div>
                <div class="col-6">
                  <div class="card bg-dark text-white" style="text-align: left;">
                    <div id="customer" class="card-body" style="cursor:pointer;border: 1px solid white;text-align:center;" (click)="SelctRole('CUSTOMER')">
                      <p class="card-text">Customer</p>
                    </div>
                  </div>

                </div>


              </div>

              <div class="row" style="display:none;">
                <button type="button" class="btn" style="position: relative;color: white;height: 50px;left: 207px;width: 21%;border: 1px solid white;top: 100px;" (click)="gotoContinue()">Continue</button>
              </div>
            </div>
          </div>
          <div *ngIf="roleSelect == 'step2'">
            <!--<p style="color:white;margin-bottom:0">sdgdfgbfh</p>-->
            <div class="signin-form-fields clearfix"><label for="inputEmail" class="sr-only">Email Id</label><i class="fa fa-envelope-o"></i><input type="text" id="inputEmail" [ngStyle]="{ color: emailColor}" name="username" [(ngModel)]="user_name" (ngModelChange)=emailValiadtion() class="form-control" placeholder="Email Id" autocomplete="off"></div>
            <!--<p style="color:white;margin-bottom:0">sdgdfgbfh</p>-->
            <p *ngIf="wrongEmail" style="color:red;margin-top: -25px;">Email incorrect.</p>
            <p *ngIf="emailCheck" style="color:red;margin-top: -25px;">Email is required</p>
            <p *ngIf="emailIdExist" style="color:red;margin-top: -25px;">This email Id already exist . Please enter other email Id</p>
            <div class="signin-form-fields clearfix"><label for="inputMobileNo" class="sr-only">Mobile No.</label><i class="fa fa-phone"></i><input type="text" id="inputMobileNo" maxlength="10" [ngStyle]="{ color: mobileColor}" name="mobileNo" [(ngModel)]="mobile_no" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) " (ngModelChange)=mobileNumberCheck(mobile_no) class="form-control" placeholder="Mobile Number" autocomplete="off"></div>
            <p *ngIf="wrongMobileNo" style="color:red;margin-top: -25px;">Mobile No incorrect.</p>
            <p *ngIf="phoneNumberExist" style="color:red;margin-top: -25px;">This Mobile No already exist . Please enter other mobile No</p>
            <p *ngIf="mobilenumberCheck" style="color:red;margin-top: -25px;">Mobile No is required</p>
            <div class="signin-form-fields clearfix"><label for="inputPassword" class="sr-only">Password</label><i class="fa fa-lock"></i><input type="password" id="inputPassword" name="password" [(ngModel)]="password" class="form-control" placeholder="Password" (ngModelChange)=passwordValiadtion() autocomplete="off"></div>
            <p *ngIf="passwordCheck" style="color:red;margin-top: -25px;">Password is required</p>
            <div class="signin-form-button"><button class="btn btn-lg btn-primary btn-block" type="button" (click)="register()">Register</button></div>
            <div class="dont-have-account" style="cursor:pointer;"> <a (click)="gotoLogin()">Login Here</a></div>

          </div>
         
          <div *ngIf="roleSelect == 'step3'">
            <!--<p style="color:white;margin-bottom:0">sdgdfgbfh</p>-->
            <div class="signin-form-fields clearfix">
              <label for="inputEmail" class="sr-only">Please enter the OTP to verify</label>
              <i class="fa fa-phone"></i>
              <input type="text" id="inputOTP" [ngStyle]="{ color: otpColor}" name="userotp" 
              [(ngModel)]="user_otp" (ngModelChange)=otpValiadtion() 
              class="form-control" placeholder="Confirm your OTP" autocomplete="off"></div>

            <p *ngIf="optCheck" style="color:red;margin-top: -25px;">OTP is mandatory</p>
            <p *ngIf="otpWrong" style="color:red;margin-top: -25px;">Wrong OTP</p>
            
            <div class="signin-form-button">
              
              <button class="btn btn-lg btn-primary btn-block" type="button" (click)="verify()">Verify</button></div>


            <div class="dont-have-account" style="cursor:pointer;"> <a (click)="gotoLogin()">Login Here</a></div>

          </div>

        </div>
</form>
    </div>
    
    <div class="account-form-r account-signin-right" style="position:relative;top:65px;">
    <h1>Welcome To Application</h1>
    <div class="signin-form-desc">
        <p>Lorem ipsum dolor sit amet, consectetuer</p>
        </div>
        
        <div class="signin-doctor-avtar" style="margin: 22px auto auto !important;"></div>
    </div>
    
    </div>
   
       
 </div>   
</div>
